* text=auto eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.so binary
*.dylib binary
*.exe binary
*.zip binary
*.jar binary
